[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
jupyter = "*"
matplotlib = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
requests = "*"
streamlit = "*"
flask-restful = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
